{
  "min_packer_version": "0.12.0",
  "variables": {
    "app_name": "example",
    "subscription_id": "{{env `ARM_SUBSCRIPTION_ID`}}",
    "tenant_id": "{{env `ARM_TENANT_ID`}}",
    "client_id": "{{env `ARM_CLIENT_ID`}}",
    "client_secret": "{{env `ARM_CLIENT_SECRET`}}",
    "azure_location": "",
    "consul_version": "",
    "vault_version": "",
    "resource_group_name": ""
  },
  "builders": [
    {
      "type": "azure-arm",

      "subscription_id": "{{user `subscription_id`}}",
      "tenant_id": "{{user `tenant_id`}}",
      "client_id": "{{user `client_id`}}",
      "client_secret": "{{user `client_secret`}}",

      "managed_image_name": "vault-consul-{{isotime \"2006-01-02-150405\"}}",
      "managed_image_resource_group_name": "{{user `resource_group_name`}}",

      "os_type": "{{ user `os_type` }}",
      "image_publisher": "{{ user `image_publisher` }}",
      "image_offer": "{{ user `image_offer` }}",
      "image_sku": "{{ user `image_sku` }}",
      "location": "{{user `azure_location`}}",
      "vm_size": "{{user `vm_size`}}",
      "os_disk_size_gb": "{{user `disk_size`}}",

      "azure_tags": {
        "Product": "{{user `app_name`}}",
        "OS": "{{ user `image_offer` }}",
        "OS-Version": "{{ user `image_sku` }}",
        "Release": "{{ user `release` }}",
        "Owner": "{{ user `owner` }}"
      }
    }
  ],
  "provisioners": [
    {
      "type": "ansible",
      "playbook_file": "./install.yml",
      "user": "azure-user",
      "extra_arguments": [
        "--extra-vars",
        "app={{user `app_name`}}"
      ],
      "ansible_env_vars": [
        "ANSIBLE_RETRY_FILES_ENABLED=no"
      ]
    }
    ,
    {
     "execute_command": "chmod +x {{ .Path }}; {{ .Vars }} sudo -E sh '{{ .Path }}'",
     "inline": [
       "/usr/sbin/waagent -force -deprovision && export HISTSIZE=0 && sync"
      ],
     "inline_shebang": "/bin/sh -x",
     "type": "shell"
    }
  ]
}